@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Graduate&family=Silkscreen&family=VT323&display=swap');
*{
    padding : 0;
    margin: 0;
}

.body{
    background: url("../img/background1.jpg");
    min-height: 100vh;
    background-size: 120vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Graduate', cursive;
}

#highscoreBox{
    position: absolute;
    top: 59px;
    right: 130px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Graduate', cursive;
}

#board{
    background: linear-gradient(#9ce2ee, rgb(162, 255, 195));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr) ;
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(223, 2, 2), rgb(237, 237, 5)) ;
    border: 2px solid purple;
    transform: scale(1.2);
    border-radius: 9px;
}

.snake{
    background: linear-gradient(rgb(137, 98, 170), rgb(58, 3, 114));
    border: .25vmin transparent whitesmoke;
    border-radius: 15px;
}

.food{
    background: linear-gradient(white,rgb(152, 1, 1), rgb(255, 133, 3),green,yellow);
    border: .25vmin solid black;
    border-radius: 12px;
}